{% extends 'Profile/side_bar.html' %}
{% block content %}
{% load staticfiles %}

<div class="profile-content-head">
	<div class="form-profile">
		<form>
			<h1>Finance</h1>
			<h3>Outstanding Fees : RM {{ profile.user_feesOwed }}</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>File / Picture </th>
							<th>Date Uploaded</th>
							<th>Reference No.</th>
							<th>Transaction Make</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for Transaction in all_account %}
							<tr>
								<td><a href="{{ Transaction.Tran_File.url }}">{{ Transaction.Tran_File }}</a></td>
								<td>{{ Transaction.Date_uploaded }}</td>
								<td>{{ Transaction.Tran_RefNo }}</td>
								<td>{{ Transaction.Tran_Paid }}</td>
								<td>{{ Transaction.Tran_Pend }}</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
			<div class = "text-right">
				<!--<button type="button" class = "btn btn-default" data-toggle="modal" data-target="#Modal">Upload File</button>-->
				<button type="button" class = "btn btn-default"><a href="{% url 'Transaction:upload_file' %}">Add Payment</a></button>
			</div>
		</form>

		</div>
</div>

<script type="text/javascript">


$(document).ready(function() {
        var state = true;

        $('.redo').click(function() {
                reanimate();
        });

        $('.error').hide().removeClass('animate');

        var reanimate = function() {
                if (state === false) {
                        state = true;
                        $('.success').show().addClass('animate');
                        $('.error').hide().removeClass('animate');
                } else {
                        state = false;
                        $('.success').hide().removeClass('animate');
                        $('.error').show().addClass('animate');
                }
        };

});
$(document).ready(function() {
    $('#TransactionForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            Tran_File: {
                validators: {
                    notEmpty: {
                        message: 'Please select an image and the image only accept jpg and png'
                    },
                }
            },

            Tran_RefNo: {
                validators: {
                    notEmpty: {
                        message: 'Please insert your appointment time'
                    }
                }
            },
        }
    });
});
</script>
{% endblock %}