<!DOCTYPE html>
<hmtl lang="en">
<head>
  <title>BoBoBoyz</title>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="Penguin.png" type="image/png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'Application/Style.css' %}" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
</head>

<body>
<div class="container-fluid">
      {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
      {% endif %}
        <form id="createNewUserFrom" method="post"  enctype="multipart/form-data" action="">
          {% csrf_token %}
            <h1> Applicator information</h1>
			<div class="form-group">
                <label>First Name</label>
                <input class="form-control" value="{{applications.app_name_first}}" disabled>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" value="{{applications.app_name_last}}" disabled>
            </div>

            <div class="form-group">
                <label >Nationality</label>
                <input class="form-control" value="{{applications.app_nation}}" disabled>
            </div>

            <div class="form-group">
                <label>Type</label>
                    <input class="form-control" value="{{applications.app_type}}" disabled>
            </div>

            <div class="form-group">
                <label>Programme</label>
                <input class="form-control" value="{{applications.app_programme}}" disabled>

            </div>

            <div class="form-group">
                <label>Birthday Date</label>
                <input class="form-control" value="{{applications.app_birthday}}" disabled>

            </div>

            <div class="form-group">
                <label>Gender</label>
                <input class="form-control" value="{{applications.app_gender}}" disabled="">

            </div>

            <div class="form-group">
                <label>IC</label>
                <input class="form-control" value="{{applications.app_ic}}" disabled>

            </div>

            <div class="form-group">
                <label>Photo : </label>
                <a href="{{applications.app_file_upload2.url}}">{{applications.app_file_upload2}}</a>
            </div>

            <div class="form-group">
                <label>Document : </label>
                <a href="{{applications.app_file_upload.url}}">{{applications.app_file_upload}}</a>
            </div>

            <div class="form-group">
                <label>Qualification :</label>
                <a href="{{applications.app_file_upload3.url}}">{{applications.app_file_upload3}}</a>
            </div>

            <div class="form-group">
                <label>Mobile number</label>
                <input class="form-control" value="{{applications.app_mobile_number}}" disabled>

            </div>

            <div class="form-group">
                <label>Email address</label>
                <input class="form-control" value="{{applications.app_email}}" disabled>

            </div>

            <div class="form-group">
                <label>Address</label>
                <input class="form-control" value="{{applications.app_address}}" disabled>
            </div>

            <h1>Create a new username and password here XDD</h1>
            
            <div class="form-group">
                <label class="control-label" >Username</label>
                <input type="input" name="username" class="form-control" required="" >
            </div>

            
            <div class="form-group">
                <label class="control-label" >Password</label>
                <input type="password" name="password" minlength="6" class="form-control" required="" >
            </div>
        
            <button type="submit" class="btn btn-primary pull-right">Create New User</button>
            <div class="form-group">
                <a href="{% url 'Application:delete_application' applications.id %}">
                <button type="button" class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-trash">Reject</span>
                </button>
                </a>
            </div>          
    	</form>
    </div>
</body>

<script type="text/javascript">
$(document).ready(function() {
    $('#createNewUserFrom').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                        notEmpty: {
                            message: 'Please insert a username before submit'
                        },
                    }
                },

            password: {
                validators: {
                        notEmpty: {
                            message: 'Please insert password before submit'
                        },
                    }
                },

          
          }
    });
});
</script>
