<!DOCTYPE html>
<hmtl lang="en">
<head>
  <title>BoBoBoyz</title>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="Penguin.png" type="image/png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'Application/style_1.css' %}" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class = "container-fluid">
    <!--logo-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target="#topNavBar">
        <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class = "navbar-brand active" href="http://127.0.0.1:8000/admin/">BoboBoyz</a>
    </div>
        <div class= "collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="http://127.0.0.1:8000/admin/" type="button">
                  <span class= "" aria-hidden="true"></span> Admin
                </a>
            </li>
          </ul>
        </div>
  </div>
</nav>

{% csrf_token %}
{% if reject_message %}
    <div class="modal fade" role="dialog" aria-hidden="true" id="rejectMessage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modalbox error col-sm-12 col-md-12 col-lg-12 center animate">
                        <div class="icon">
                            <span class="glyphicon glyphicon-trash"></span>
                        </div>

                        <p><strong>{{ reject_message }}</strong></p>
                        
                        <button type="button" data-dismiss="modal">OK</button>
                    </div>
                </div>           
            </div>
        </div>
    </div>
{% endif %}
{% if success_message %}
    <div class="modal fade" role="dialog" aria-hidden="true" id="successMessage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modalbox success col-sm-12 col-md-12 col-lg-12 center animate">
                        <div class="icon">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>

                        <p><strong>{{ success_message }}</strong></p>
                        
                        <button type="button" data-dismiss="modal">OK</button>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    {% endif %}

<div class="col-md-12 col-sm-12 col-xs-12">
	{% csrf_token %}
	<div class="form-profile">
		<form>
			<div class="table-responsive">          
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email Address</th>
						<th>Submitted date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for application in all_applications %}
				  	<tr>
						<td>{{application.app_name_last}} {{application.app_name_first}}</td>
						<td>{{application.app_email}}</td>
						<td>{{application.app_created_at}}</td>
						<td><a href="{% url 'Application:detail' application.id  %}"><button type="button" class="btn btn-default">View</button></a></td>
				  	</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$('#rejectMessage').modal('show');
$('#successMessage').modal('show');
</script>
