<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <title>BoBoBoyz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Profile/css/style.css' %}" />
  <link rel="icon" href="Penguin.png" type="image/png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class = "container-fluid">
    <!--logo-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target="#topNavBar">
        <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class = "navbar-brand active" href="Home.html">BoboBoyz</a>
    </div>
        <div class= "collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="LogInPage.html" >
                  <span class= "" aria-hidden="true"></span> Sign In
                </a>
            </li>
            <li class="">
                <a href="" >
                  <span class= "" aria-hidden="true"></span> Apply
                </a>
            </li>
          </ul>
        </div>
  </div>
</nav>

<body>
    <div class = "container">
        <form class="form-horizontal" role="form" action="{% url 'Profile:login_user'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Log In</h1>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div class = "form-input">
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"></span> <label>Username: </label><br>
                    <input maxlength="30" name="username" type="text">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-lock"></span> <label>Password: </label><br>
                    <input maxlength="30" name="password" type="password">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
         	</div>
      </form>
    </div>
</body>