<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <title>BoBoBoyz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Profile/css/style.css' %}" />
  <link rel="icon" href="Penguin.png" type="image/png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class = "container-fluid">
    <!--logo-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target="#topNavBar">
        <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class = "navbar-brand active" href="Home.html">BoboBoyz</a>
    </div>
        <div class= "collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="LogInPage.html" >
                  <span class= "" aria-hidden="true"></span> Sign In
                </a>
            </li>
            <li class="">
                <a href="" type="button" data-toggle="modal" data-target="#Modal1">
                  <span class= "" aria-hidden="true"></span> Apply
                </a>
            </li>
          </ul>
        </div>
  </div>
</nav>

<body>
    <div class = "container">
        <form class="form-horizontal" role="form" action="{% url 'Profile:login_user'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Log In</h1>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}

            {% if success_message %}
            <div class="modal fade" role="dialog" aria-hidden="true" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modalbox success col-sm-12 col-md-12 col-lg-12 center animate">
                                <div class="icon">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>

                                <p><strong>{{ success_message }}</strong></p>
                                <p>We are processing your application
                                        <br>for verification.</p>
                                <button type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
            {% endif %}

            <div class = "form-input">
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"></span> <label style="color:white">Username: </label><br>
                    <input maxlength="30" name="username" type="text">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-lock"></span> <label style="color:white">Password: </label><br>
                    <input maxlength="30" name="password" type="password">
                </div>
                <button type="submit" name="login" value="Login" class="btn btn-info">Submit</button>
         	</div>
      </form>
    </div>
    <div class="container-fluid">
        <form id="applicationForm" method="post"  enctype="multipart/form-data" action="">
          {% csrf_token %}
            <div class="modal fade" id="Modal1" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Application </h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label" >First Name:</label>
                            <input type="text" maxlength="50" class="form-control" name="app_name_first" required="">
                        </div>

                        <div class="form-group">
                            <label class="control-label" >Last Name:</label>
                            <input type="text" maxlength="50" class="form-control" name="app_name_last" required="">

                        </div>

                        <div class="form-group">
                            <label class="control-label" >Nationality</label>
                            <select name="app_nation" class="select-control" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="International">International</option>
                                </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="app_type">Type</label>
                                <select name="app_type" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option value="By Research">By Research</option>
                                    <option value="By Coursework">By Coursework</option>
                                </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">Programme</label>
                                <select name="app_programme" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option value="Master of Science in Engineering Business Management">Master of Science in Engineering Business Management</option>
                                    <option value="Master of Business Administrationk">Master of Business Administration</option>
                                </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label">Birthday Date</label>
                            <input type="date" class="form-control" id="apply_name" name="app_birthday" required="">

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="gender">Gender</label>
                                <select name="app_gender" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>

                        </div>

                        <div class="form-group">
                            <label class="control-label" >IC / Passport number</label>
                            <input type="text" minlength="9" maxlength="12" id="" name="app_ic" class="form-control" required="" >

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">Photo</label>
                            <input type="file" class="form-control" id="" name="app_file_upload2" required="" accept="image/*">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">Document</label>
                            <input type="file" class="form-control" id="apply_name" name="app_file_upload" required="" accept="application/pdf">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">Qualification</label>
                            <input type="file" class="form-control" id="apply_name" name="app_file_upload3" required="" accept="application/pdf">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Mobile number</label>
                            <input type="text" minlength="10" maxlength="11" id="" name="app_mobile_number" class="form-control" required="" >

                        </div>

                        <div class="form-group">
                            <label class="control-label">Email address</label>
                            <input type="email" id="" name="app_email" class="form-control" placeholder="Example@gmail.com" required="">

                        </div>

                        <div class="form-group">
                            <label class="control-label" >Address</label>
                            <input type="input" id="" name="app_address" class="form-control" required="">

                        </div>

                    </div>
                        <div class="modal-footer">
                          <button type="submit" name="application" value="Application" class="btn btn-primary" >Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</body>

<script type="text/javascript">
$('#myModal').modal('show');

$(document).ready(function() {
        var state = true;

        $('.redo').click(function() {
                reanimate();
        });

        $('.error').hide().removeClass('animate');

        var reanimate = function() {
                if (state === false) {
                        state = true;
                        $('.success').show().addClass('animate');
                        $('.error').hide().removeClass('animate');
                } else {
                        state = false;
                        $('.success').hide().removeClass('animate');
                        $('.error').show().addClass('animate');
                }
        };

});
$(document).ready(function() {
    $('#applicationForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            app_name_first: {
                validators: {
                    notEmpty: {
                        message: 'First name is required and cannot be empty'
                    },
                    regexp: {
                        regexp:  /^[a-zA-Z\s]+$/,
                        message: 'First name only consist of alphabet and space only'
                    }
                }
            },
            app_name_last: {
                validators: {
                    notEmpty: {
                        message: 'Last name is required and cannot be empty'
                    },
                    regexp: {
                        regexp:  /^[a-zA-Z\s]+$/,
                        message: 'Last name only consist of alphabet and space only'
                    }
                }
            },
            app_email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The email address is not valid'
                    }
                }
            },

            app_nation: {
                validators: {
                    notEmpty: {
                        message: 'Please select your nation'
                    },
                }
            },

            app_type: {
                validators: {
                    notEmpty: {
                        message: 'Please select an item'
                    },
                }
            },

            app_programme: {
                validators: {
                    notEmpty: {
                        message: 'Please select the programme you interest'
                    },
                }
            },

            app_gender: {
                validators: {
                    notEmpty: {
                        message: 'Please select your gender'
                    },

                }
            },

            app_birthday: {
                validators: {
                    notEmpty: {
                        message: 'Please insert your date of birth'
                    },

                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The value is not a valid date the format is MM/DD/YYYY'
                    }
                }
            },
            app_ic: {
                validators: {
                    notEmpty: {
                        message: 'Please enter your identity number or passport number and do not include - '
                    },
                    regexp: {
                        regexp: /^[0-9A-Z]+$/,
                        message: 'The identity number only consist of number and capital letter'
                    }
                }
            },

            app_file_upload: {
                validators: {
                    notEmpty: {
                        message: 'Please select a file and the file only accept pdf file'
                    },
                }
            },

            app_file_upload2: {
                validators: {
                    notEmpty: {
                        message: 'Please select an image and the image only accept jpg and png'
                    },
                }
            },

            app_file_upload3: {
                validators: {
                    notEmpty: {
                        message: 'Please select a file and the file only accept pdf file'
                    },
                }
            },

            app_mobile_number: {
                validators: {
                    notEmpty: {
                        message: 'Please insert your phone number'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'The phone number only consist of number'
                    }
                }
            },

            app_address: {
                validators: {
                    notEmpty: {
                        message: 'Please insert address'
                    },
                }
            },

            app_type: {
                validators: {
                    notEmpty: {
                        message: 'Please select a type'
                    },
                }
            },
        }
    });
});
</script>
