{% extends 'Profile/side_bar.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Profile/css/progress-bar.css' %}" />

<!--Header-->
<div class="profile-content-head">
    <!--Header-->
    <div class="profile-content-head">
        <!--profile picture-->
        <div class="profile-userpic">
            <center>
                <button type="button" class="btn btn-userpic">
                    {% if target_profile.user_photo %}
                        <img src="{{ target_profile.user_photo.url }}" class="img-responsive" alt="">
                    {% else %}
                        <img src="{% static 'Profile/image/default.png' %}" class="img-responsive" alt="">
                    {% endif %}
                </button>
            </center>
        </div>
        <!--End of profile picture-->
        <!--sidebar user information -->
        <div class="profile-usertitle">
            <h4><strong>{{ target_profile.user.first_name }} {{ target_profile.user.last_name }}</strong></h4>
            <div>
                <strong>
                    {% if target_profile.user_type == 'Student' %}
                        {% if target_profile.stud_type == 'By Research' %}
                            Research Student
                        {% elif target_profile.stud_type == 'By Coursework'%}
                            Coursework Student
                        {% endif %}
                    {% else %}
                        {{ target_profile.user_type }}
                    {% endif %}
                </strong>
            </div>
            <div>
                {{ target_profile.user.username }}
            </div>
            <div>
                {% if target_profile.user_type == 'Supervisor' %}
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#appointmentModal">Make Appointment</button>
                {% endif %}
            </div>
    	</div>
    </div>
</div>
<!--Content-->
<div>
    <div class="profile-usertitle">
        {% if target_profile.user_type == 'Supervisor' or target_profile.stud_type == 'By Research' %}
	        <div>
	            <strong>Field:</strong>
	        </div>
	        <div>
	            {{ target_profile.user_area.a_field.f_name }}
	        </div>
	        <div>
	            <strong>Area:</strong>
	        </div>
	        <div>
	            {{ target_profile.user_area.a_name }}
	        </div>
        {% endif %}
    </div>
    <!-- Display progress bar -->
    <div>
        {% if target_profile.stud_type == 'By Research' %}
            {% if target_profile.br_progress == 'None' %}
                <ol class="my_progress my_progress--medium">
                    <li data-step="1">
                        Proposal Defense
                    </li>
                    <li data-step="2">
                        Work Completion Seminar
                    </li>
                    <li data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% elif target_profile.br_progress == 'Proposal Defense' %}
                <ol class="my_progress my_progress--medium">
                    <li class="is-active" data-step="1">
                        Proposal Defense
                    </li>
                    <li data-step="2">
                        Work Completion Seminar
                    </li>
                    <li data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% elif target_profile.br_progress == 'Work Completion Seminar' %}
                <ol class="my_progress my_progress--medium">
                    <li class="is-complete" data-step="1">
                        Proposal Defense
                    </li>
                    <li class="is-active" data-step="2">
                        Work Completion Seminar
                    </li>
                    <li data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% elif target_profile.br_progress == 'Thesis Examination' %}
                <ol class="my_progress my_progress--medium">
                    <li class="is-complete" data-step="1">
                        Proposal Defense
                    </li>
                    <li class="is-complete" data-step="2">
                        Work Completion Seminar
                    </li>
                    <li class="is-active" data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% elif target_profile.br_progress == 'Viva Voce' %}
                <ol class="my_progress my_progress--medium">
                    <li class="is-complete" data-step="1">
                        Proposal Defense
                    </li>
                    <li class="is-complete" data-step="2">
                        Work Completion Seminar
                    </li>
                    <li class="is-complete" data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="is-active progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% elif target_profile.br_progress == 'Completed' %}
                <ol class="my_progress my_progress--medium">
                    <li class="is-complete" data-step="1">
                        Proposal Defense
                    </li>
                    <li class="is-complete" data-step="2">
                        Work Completion Seminar
                    </li>
                    <li class="is-complete" data-step="3">
                        Thesis Examination
                    </li>
                    <li data-step="4" class="is-complete progress__last">
                        Viva Voce
                    </li>
                </ol>
            {% endif %}
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="appointmentModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Make Appointment</h4>
            </div>
            <div class="modal-body">
                 <div class="panel-body">
                    <!-- Form -->
                    <form id="appointmentForm" method="post" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label  class="col-sm-4 control-label" for=""> Date :</label>
                            <div class="col-sm-7">
                                <input type="date" name="date" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label" for=""> Time :</label>
                            <div class="col-sm-7">
                                <input type="time" name="time" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-4 control-label" for=""> Reason :</label>
                            <div class="col-sm-7">
                                <input type="text" name="reason" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" name="appointment" value="Appointment" form="appointmentForm"></input>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                 </div>
             </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $('#myModal').modal('show');
</script>

{% endblock %}